venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

filtered-applications.txt
filtered-users.txt
*.csv

# Frontend

# Ignore docs files
/_site/
# Hugo files
/resources/
/.hugo_build.lock

# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

